<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="content_box" *ngIf="userTickets.length>0">
    <div class="left_bar" >
        <ul class=" nav-tabs--vertical nav" role="navigation">
            <li class="nav-item" *ngFor="let ticket of userTickets">
                <a href="#lorem" class="nav-link active" data-toggle="tab" role="tab"
                    (click)="selectionChanged(ticket.ticketId)" aria-controls="lorem">Ticket {{ticket.ticketId}}
                    <!-- ({{ticket.ticketId | getManNameForTicket}}) -->
                    <!-- <p ng-bind = "manifestation.name"> </p> -->
                </a>
            </li>
        </ul>
    </div>
    <h3>Tickets: </h3>
    <div class="right_bar ">
        <div class="tab-content ">
            <div class="tab-pane fade show active" id="lorem" role="tabpanel">

                <table class="table table-bordered">
                    <tr>
                        <th>Manifestation</th>
                        <td>{{manifestation.name}}</td>
                    </tr>
                    <tr>
                        <th>Manifestation day</th>
                        <td>{{manifestationDay.name}}</td>
                    </tr>
                    <tr>
                        <th>Sector</th>
                        <td>{{getSectorName(selectedTicket.wantedSeat.manSectorId)}}</td>
                    </tr>

                    <tr>
                        <th>Row</th>
                        <td>{{selectedTicket.wantedSeat.row}}</td>
                    </tr>
                    <tr>
                        <th>Seat</th>
                        <td>{{selectedTicket.wantedSeat.seatNumber}}</td>
                    </tr>
                    <tr>
                        <th>Purchase confirmed</th>
                        <td *ngIf="selectedTicket.purchaseConfirmed == true">Yes</td>
                        <td *ngIf="selectedTicket.purchaseConfirmed == false">No</td>
                    </tr>
                    <tr>
                        <th>Purchase time</th>
                        <td>{{selectedTicket.purchaseTime | date: 'dd/MM/yyyy'}}</td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</div>

<div *ngIf="userTickets.length==0">
    <h3>You currently have no tickets! <br/>
    <h5>Note : You can make a ticket by selecting an event and then reserve or buy directly.</h5>
    </h3>
</div>