

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="manifestationsUser">
        <a class="nav-link" routerLink="/manifestations">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">T</span>
          </i>
          Manifestations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ticketsUser" routerLink="/tickets">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">T</span>
          </i>
          Tickets
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="reservationsUser" routerLink="/reservations">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">T</span>
          </i>
          Reservations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="addressAdmin" routerLink="/admin/address">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">P</span>
          </i>
          Adresses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="locationsAdmin" routerLink="/admin/locations">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">P</span>
          </i>
          Locations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="manifestationsAdmin" routerLink="/admin/manifestations">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">P</span>
          </i>
          Manifestations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="reservationsAdmin" routerLink="/admin/reservations">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">P</span>
          </i>
          Reservations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="rolesAdmin" routerLink="/admin/roles">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">P</span>
          </i>
          Roles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ticketsAdmin" routerLink="/admin/tickets">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">P</span>
          </i>
          Tickets
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="usersAdmin" routerLink="/admin/users">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">P</span>
          </i>
          Users
        </a>
      </li>
    </ul>



    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="login" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="register" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logout" (click)="logOut()">Log Out</a>
      </li>
    </ul>
  
  </div>
</nav>



<router-outlet></router-outlet>