<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="content_box" *ngIf = "userReservations.length > 0">
    <div class="left_bar">
        <ul id = "resList"class=" nav-tabs--vertical nav" role="navigation">
            <li class="nav-item" *ngFor="let reservation of userReservations">
                <a href="#lorem" class="nav-link active" data-toggle="tab" role="tab"
                    (click)="selectionChanged(reservation.id)" aria-controls="lorem">Reservation {{reservation.id}}</a>
            </li>
        </ul>
    </div>
    <h3>Reservations: </h3>
    <div class="right_bar ">
        <div class="tab-content ">
            <div class="tab-pane fade show active" id="lorem" role="tabpanel">

                <table id = "reservationTableDetail" class="table table-bordered">
                    <tr>
                        <th>Manifestation</th>
                        <td>{{manifestation.name}}</td>
                    </tr>
                    <tr>
                        <th>Manifestation day</th>
                        <td>{{manifestationDay.name}}</td>
                    </tr>
                    <tr>
                        <th>Sector</th>
                        <td>{{getSectorName(selectedReservation.ticket.wantedSeat.manSectorId)}}</td>
                    </tr>
                    <tr>
                        <th>Row</th>
                        <td>{{selectedReservation.ticket.wantedSeat.row}}</td>
                    </tr>
                    <tr>
                        <th>Seat</th>
                        <td>{{selectedReservation.ticket.wantedSeat.seatNumber}}</td>
                    </tr>
                    <tr>
                        <th>Purchase confirmed</th>
                        <td *ngIf="selectedReservation.ticket.purchaseConfirmed == true">Yes</td>
                        <td *ngIf="selectedReservation.ticket.purchaseConfirmed == false">No</td>
                    </tr>
                    <tr>
                        <th>Purchase time</th>
                        <td>{{selectedReservation.ticket.purchaseTime | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <th>Exp days</th>
                        <td>{{selectedReservation.expDays}}</td>
                    </tr>
                    <tr>
                        <th>Ticket</th>
                        <td>{{selectedReservation.ticket.ticketId}}</td>
                    </tr>

                </table>
            <button  class="btn btn-dark" style="margin-right: 3px;" (click)="buyTicket()">Buy ticket</button>
                
                <button  class="btn btn-dark" (click)="cancelReservation()">Cancel reservation</button>
            </div>

        </div>
    </div>
</div>

<div *ngIf="userReservations.length == 0">
        <h3>You currently have no reservations! <br/>
        <h5>Note : You can make a reservation by selecting an event and then reserve or buy directly.</h5>
        </h3>
</div>