<section class="jumbotron text-center" style="background:url('http://papers.co/wallpaper/papers.co-am67-worldmap-blue-dark-earth-view-art-29-wallpaper.jpg')">
    <div class="container" id="jumbotron1"  >
        <h1 class="jumbotron-heading" style="color: rgba(255, 255, 255, 0.781);">Welcome to Ticket Sales application!</h1>
        <p class="lead mb-0" style="color: white">Welcome to Ticket Sales application designed for selling tickets for different manifestations. You can also browse
        manifestations by location and even make reservations</p>
        <p class="lead mb-0" style="color: white">Don't have an account? Sign up and start right using out app right now!</p>
    </div>
</section>



<!-- Footer -->
<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    We are company that does reservations and buying tickets for different categories of manifestations.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Services</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li>Reservation</li>
                    <li>Buying tickets</li>
                    <li>Manging locations</li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Ticket Sales</li>
                    <li><i class="fa fa-envelope mr-2"></i> ticketsalesonline@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>